body{
    margin: 0;
    padding: 0;

}

.link-font{
    font-size: 30px;
    list-style: none;
    padding-left: 0;
}

.separator{
    width: 10%;
    height: 15px;
    min-width: 30px;
    background: linear-gradient(90deg,  rgba(104,249,255,1) 0%, rgba(16,0,255,1) 100%);
}

.separator-contact{
    display: inline-block;
    width: 10%;
    height: 5px;
    min-width: 30px;
    background: white;
}

.social-list > ul{
    list-style:none;
}

/* Font awesome part */


.fa-facebook-f{
    color: #4267B2;
}

.fa-instagram{
    color: #DD2A7B;
}

.fa-linkedin{
    color: #2867B2;
}


.logo{
    width: 200px;
}

.background{
    background-image: url("../image/bg.jpg");
    background-size: 100%;
    background-position: 50% 20%;
    height: 500px;
}

#skills{
    transform: translateY(-200px);
}

#projects{
    transform: translateY(-200px);
}

.imageCardContainer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-card{
    transform: translateY(-300px);
    background: #FAFAFA;
    box-shadow: 10px 9px 22px -13px rgba(0,0,0,0.47);
    -webkit-box-shadow: 10px 9px 22px -13px rgba(0,0,0,0.47);
    -moz-box-shadow: 10px 9px 22px -13px rgba(0,0,0,0.47);
}

.temporary-title{
    font-size: 2.0em;
    color: #FEFEFE;
    font-weight: 700;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    
    padding: 30px 0px 30px 0px;
    height: 230px;
    background-color: #0a0a0a;
    display: flex;
    color: #F0F0F0;
}

.license{
    color: #555555;
}

.poste{
    font-size: 1.2em;
    color: rgb(16,0,26,0.5);
    font-weight: bold;
    
}

ul{
    list-style: none;
    padding-inline-start: 0px;
}

.contact-list{
    font-size: 1.2em;
}

.presentation-text{
    font-size: 1.2em;
}

.see-more-button{
    margin-bottom: 30px;
}

/* Bootstrap Breakpoint for tablet */
@media screen and (max-width: 991px) {
    .logo {
      width: 100px;
    }

    .background{
        height: 0;
    }

    #skills{
        transform: translateY(0px);
    }
    #projects{
        transform: translateY(0px);
    }


    .presentation-card{
        transform: translateY(0px);
        background: none;
        box-shadow: none
    }
    
    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer{
        height: 250px;
    }

    .separator{
        width: 10%;
        height: 0px;
        min-width: 30px;
        background: linear-gradient(90deg,  rgba(104,249,255,1) 0%, rgba(16,0,255,1) 100%);
    }


}

/* Bootstrap Breakpoint for tablet */
@media screen and (max-width: 767px) {

    footer{
        height: 430px;
    }
}

